body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(min-width:990px){

.container{
    width: 990px;
    display: flex;
    gap: 40px;
    margin: 60px auto;
}
.feed{
    width: 560px;
    margin-bottom: 24px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
}
.feed-img{
    width: 100%;
    border-radius: 14px;
}
.profile{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}
.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.bi{
    font-size: 24px;
}
.reactions{
    display: flex;
    justify-content: space-between;
}
.reactions-left{
    display: flex;
    gap: 16px;
}
.links{
    display: flex;
    gap: 8px;
}
.link{
    height: 42px;
}
.sidebar-title{
    margin-top: 0;
}
.story-container{
    display: flex;
    margin: 60px auto;
    width: 990px;
    gap: 16px;
}
.story-img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 50%;
}
.story{
    text-align: center;
}
.name{
    font-size: 14px;
}
.navbar{
    width: 990px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 32px;
}
.btn{
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 22px;
}
}



/* small screen */



@media(max-width:989px){

.container{

    
    margin: 60px auto;
}
.feed{
   
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 16px;
}
.feed-img{
    width: 100%;
    border-radius: 16px;
}
.profile{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
}
.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.bi{
    font-size: 24px;
}
.reactions{
    display: flex;
    justify-content: space-between;
}
.reactions-left{
    display: flex;
    gap: 16px;
}
.links{
    display: flex;
    gap: 8px;
    justify-content: center;
}
.link{
    height: 42px;
}
.sidebar-title{
    margin-top: 0;
    font-size: 20px;
}
.sidebar{
    text-align: center;
}
.story-container{
    display: flex;
    margin: 60px auto;
    width: 100%;
    gap: 14px;
    overflow: scroll;
}
.story-container::-webkit-scrollbar{
    display: none;
}
.story-img{
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.story{
    text-align: center;
}
.name{
    font-size: 14px;
}
.navbar{
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 32px;
}
.btn{
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 32px;
    font-size: 14px;
    padding: 10px 18px;
}
}