body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 530px;
    background-color: #fff;
    border-radius: 16px;
    margin: 20px 0;
    /* border: 1px solid lightgray; */
    box-shadow: 5px 8px 16px 6px #eee;
    padding: 14px;
}
.card-img{
    width: 100%;
    border-radius: 16px;
}
.flexbox{
    display: flex;
    gap:20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.icons{
    display: flex;
    justify-content: space-between;
}
.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.user{
    margin-bottom: 20px;
    display: flex;
    gap:12px;
    align-items: center;
}

.name{
    margin: 0 ;  
}
.username{
    margin:0;
    font-size: 14px;
    color: gray;
}

.nav{
    display: flex;
    align-items: center;
    width: 900px;
    margin: 20px auto;
    justify-content: space-between;
}
.logo{
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.nav-links a{
    text-decoration: none;
    color: black;
    margin-left: 12px;
}
.logo-img{
    height: 40px;
}

.container{
    width: 900px;
    margin: 40px auto;
    display: flex;
    gap: 30px;
}
.app-flex{
    display: flex;
    gap:10px
}
.app-flex img{
    height: 40px;
}