body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 280px;
    border-radius: 16px;
    background-color: orangered;
    /* margin: 50px; */
}
.h1{
    height: 200px;
}
.h2{
    height: 100px;
}
.h3{
    height: 300px;
}
.flexbox{
    height: 500px;
    margin: 50px auto;
    background-color: blueviolet;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}   

/* 
justify content => is used for horizontal alignment x axis 
align items => vertical alignment
*/


.food-card{
    width: 270px;
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 10px;
}
.food-card-img{
    width: 100%;
    border-radius: 16px;
}
.container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed{
    width: 500px;
    border:1px solid lightgray;
    padding: 10px;
    margin: 30px auto;
}
.feed-img{
    width: 100%;
}
.reactions{
    display: flex;
    justify-content: space-between;
}

.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user{
    display: flex;
    gap: 8px;
    align-items: center;
}
.username{
    font-size: 12px;
    color: gray;
}
.ratings-good{
    background-color: rgb(191, 255, 169);
    color: rgb(0, 34, 3);
    padding: 2px 12px;
    font-size: 14px;
    display: inline-block;
    border-radius: 20px;
}

.ratings-avg{
    background-color: rgb(255, 228, 169);
    color: rgb(66, 46, 0);
    padding: 2px 12px;
    font-size: 14px;
    display: inline-block;
    border-radius: 20px;
}

.values{
    display: flex;
    gap:4px;
    align-items: center;
}
.nav{
    position: sticky;
    background-color: #fff;
    top:0;
    display: flex;
    justify-content: space-between;
    padding: 16px 28px;
    align-items: center;
}
.links{
    display: flex;
    gap:12px;
    align-items: center;
}
.link{
    text-decoration: none;
    color: black;
}
.btn{
    background-color: tomato;
    color: white;
    padding: 14px 30px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
}
.logo{
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.search{
    display: flex;
}
input{
    border: 1px solid lightgray;
    width: 400px;
    border-radius: 12px;
    padding: 15px;
    font-size: 17px;
}
.search-btn{
    background-color: #ffffff00;
    border: none;
    margin-left: -36px;
    padding: 0;
}