body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 260px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
    /* margin: 40px; */
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

.parent{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
/* justify content is used to align the 
content horizontally on x axis
*/




.google-card{
    width: 430px;
    border: 1px solid lightgray;
    border-radius: 12px;
    padding: 10px;
    margin: 16px auto;
}
.google-card-img{
    height: 80px;
}
.flex{
    display: flex;
}
.card-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* align items is used to align the 
content vertically!!
*/

.nav{
    padding: 16px 0;
    margin: 10px auto;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height: 26px;
}
.links{
    display: flex;
    gap:8px;
    align-items: center;
}
.link{
    color: black;
    text-decoration: none;
}
.btn{
    background-color: red;
    color: white;
    padding: 14px 26px;
    border-radius: 12px;
    font-size: 16px;
    border: none;
}
.search{
    width: 400px;
    display: flex;
}
.input{
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 12px ;
    width: 100%;
}
.search-btn{
    background-color: transparent;
    padding: 0;
    border:none;
    margin-left: -36px;
}