/* flexbox */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 260px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 14px;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

.flexbox{
    margin-top: 60px;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

/* justify-content horizontal alignmwent */
/* align-items: vertical alignment */

.feed{
    width: 500px;
    margin: 10px auto;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 14px;
}
.user{
    height: 50px;
    border-radius: 50%;
}
.name{
    margin: 0;
}
.user-name{
    margin: 0;
    font-size: 14px;
    color: gray;
}
.profile{
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 22px;
}
.nav{
    position: sticky;
    top: 0;
    padding: 16px 0;
    background-color: #fff;
    width: 1178px;

    margin: 10px auto;
    display: flex;
     align-items: center;
    justify-content: space-between;;
}
.btn{
    border: none;
    color: white;
    padding: 14px 28px;
    background-color: rgb(241, 0, 73);
    border-radius: 12px;
    font-size: 15px;
}
.search{
    width: 400px;
    display: flex;
}
.input{
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid lightgray;
    font-size: 16px;
}
.search-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: -40px;
}