/* 
    videos are on
    do not write the code
    not bw able to see others chat
*/

/* box model => border, padding and margins */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    border: 1px solid lightgray;
    width: 248px;
    border-radius: 26px;
    padding: 10px;
}
.card-img{
    width: 100%;
    border-radius: 16px;
}
.parent{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}
.flex{
    display:flex;
    justify-content: space-between;
    align-items: center ;
}

/*   align-items  is used to move the flex elements vertically */
 /* justify-content: is used to move the flex elements horizontally */