/* 
    1. cameras are on
    2. do not write the code with me
    3. take notes
    4. no recordings or replays
*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 700px) {

    .demo{
        width: 100px;
        height: 100px;
        background-color: orangered;
        margin-top: 60px;
        animation-name: msd;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        /* animation-fill-mode: forwards; */
    }

    @keyframes msd{
        to{
            transform: rotate(360deg);
            margin-left: 600px;
            border-radius: 50%;
            background-color: blueviolet;
            
        }
    }

    .loader{
        width: 40px;
        height: 40px;
        border: 2px solid rgb(233, 233, 233);
        margin: 260px auto;
        border-top: 2px solid black;
        border-radius: 50%;
        animation-name: spinner;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    @keyframes spinner {
        to{
            transform: rotate(360deg);
        }
    }


  .profile {
    display: flex;
    width: 600px;
    margin: 60px auto;
    gap: 30px;
    align-items: center;
    transition: .5s;
  }
  .user-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 24px;
    transition: .5s;
  }
  .user-img:hover{
    border-radius: 50%;
    transform: rotate(6deg);
    margin-left: 100px;
    width: 240px;
    height: 240px;
  }
  .btn {
    border: none;
    background-color: black;
    color: white;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 8px;
    transition: .5s;
  }
}

/* small screens */
@media (max-width: 699px) {
  .profile {
    text-align: center;
    transition: .5s;
    margin: 60px auto;
  }
  .user-img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
    transition: .5s;
  }
  .btn {
    border: none;
    background-color: black;
    color: white;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 80px;
    transition: .5s;
  }
}
/* media query => responsive designs */
