/* css */

/* class name always starts with a dot */
.title{
    color: blueviolet;
    font-size: 46px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.center{
    text-align: center;
}

/* box model
    border => thickness, style(dotted, dashed), color
    padding => space inside the border
    margin =>  space outside the border
*/

.box{
    border: 1px solid lightgray;
    border-radius: 14px;
    width: 340px;
    padding: 10px;
    margin:20px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
.bg{
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
    width: 650px;
    margin: 30px auto;
    padding: 100px 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 12px;
}
.card{
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
    margin: 10px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}


.login{
    width: 400px;
    margin: 60px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;
    font-size: 16px;
}

.food-card{
    width: 300px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.food-img{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.card-body{
    padding: 10px;
}