body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 360px;
    margin: 70px auto;
}
.btn{
    background-color: black;
    color: white;
    padding: 13px 30px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    
}
#nameInput{
    width: 100%;
    border: 1px solid lightgray;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box; 
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}
.billSplit{
    width: 366px;
    margin: 90px auto;
    text-align: center;
}
.input{
    width: 50%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-sizing: border-box;
}
.flex{
    display: flex;
    gap: 8px;
}
.split-btn{
     background-color: black;
    color: white;
    padding: 13px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;

}