/* media queries */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.media{
    height: 300px;
    width: 300px;
    border: 2px solid red;
    margin: 30px auto;
}

@media(max-width: 586px){
    .media{
        background-color: red;
    }
}
@media(min-width:586px){
    .media{
        background-color: turquoise;
    }
}


.title{
    margin-top: 0;
}
.user{
    height: 160px;
    width: 160px;
    border-radius: 14px;
}

/* big screen */
@media(min-width:586px){
    .profile{
        width: 560px;
        margin: 40px auto;
        display: flex;
        gap: 14px;
    }
    .user{
        height: 160px;
        width: 160px;
        border-radius: 14px;
    }
    .btn{
        background-color: black;
        color: white;
        font-size: 15px;
        padding: 14px 28px;
        border-radius: 10px;
        border: none;
    }
}
/* small screens */
@media(max-width:586px){

    .profile{
        margin: 40px auto;
        text-align: center;
    }
    .user{
        height: 130px;
        width: 130px;
        border-radius: 50%;
    }
    .btn{
        background-color: black;
        color: white;
        font-size: 15px;
        padding: 14px 28px;
        border-radius: 40px;
        border: none;
    }
}






/* animations */

.card{
    transition: .3s;
    width: 270px;
    border-radius: 14px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 30px auto;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.card:hover{
    transform: rotate(4deg);
    /* width: 320px; */
    border: none;
    box-shadow: 10px 10px 16px 14px #eee;
}


.demo{
    height: 100px;
    width: 100px;
    margin: 20px 0;
    background-color: orangered;
    animation-name: msd;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
}
@keyframes msd{
    from{}
    to{
        /* css */
        transform: rotate(360deg);
        margin-left: 600px;
        background-color: blueviolet;
        border-radius: 50%;
    }
}