/* h1{} => selector */
/* class name always starts with a dot */

.abc{
    color: red;
}
.center{
    text-align: center;
}

/* div => to apply css to all inner elements in one shot */

/* box model
    1. border => thickness, style, color
    2. padding
    3. margin

*/
.card{
    border-radius: 24px;
    border: 1px solid lightgray;
    width: 246px;
    padding: 10px;
    /* margin: 60px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.parent{
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

/*  justify-content: is used to move the flex elwemwnts horizontally */
/*  align-items: is used to move the flex elemwnts vertically  */



.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}