/* h1{} => selector */
/* class names always start with a dot */
.abc{
    color: red;
}
.center{
    text-align: center;
}

/* div => to apply the css to all inner elements  
in one shot */


/* box model
    1. border => thickness, style, color
    2. padding => space inside the border
    3. margin => space outside the border
*/

.box{
    border: 1px solid lightgray;
    padding: 10px;
    width: 300px;
    margin: 60px auto;
    border-radius: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}

/* eiter in oadding or in margin
the first value always refers top and bottom
the second value refers left and right */



.card{
    width: 244px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 26px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-radius: 16px;
}
.parent{
    display: flex;
    gap: 16px;
    justify-content:center;
    flex-wrap: wrap;
}
/* align-items: is used to move the flex elements vertically */
/* justify-content: is used to move the flex elements horizontally */
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}