/* 
day 1 => intro box model => login page, feedbacks ....
day 2 => css positons => static blog
day 3 => flexbox => layouts => food ordering website
day 4 => media queries and animations 
day 5 => social media website

*/


/* class name always starts with a dot */
.title{
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-center{
    text-align: center;
}

/* box model
    border  => thickness, style(solid, dotted, dashed), color
    padding
    margin
*/
.box{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid lightgrey;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 14px;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 40px;
}

.card{
    /* border:1px solid lightgray; */
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px auto;
    border-radius: 16px;
    width: 360px;
}
.user-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.input{
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;

}

.bg-card{
    text-align: center;
    background-color: blueviolet;
    height: 300px;
    color: white;
    width: 600px;
    padding-top:80px;
    border-radius: 20px 0 20px 0;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    margin: 70px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.bg-btn{
    background-color: #fff;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 40px;
}