/* day 1 => intro box model
day 2 => positions and usecases
day 3 => flexbox => food ordering website 
day 4 => media queries and animations
day 5 => major project => social media website
*/


/* class name always starts with a dot */
.title{
    color: blueviolet;
    text-decoration:underline;
    font-size: 38px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-center{
    text-align: center;
}


/* box model
border => thickness, style(solid, dotted, dashed), color
padding
margin
*/

.box{
    border: 1px solid lightgray;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}


.card{
    border: 1px solid lightgray;
    border-radius: 14px;
    width: 270px;
    padding: 10px;
    margin:50px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-img{
    width: 100%;
    border-radius: 14px;
}
.btn{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    font-size: 16px;
    padding: 14px 30px;
    border-radius: 40px;
    
}
.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}



.bg-card{
    width: 500px;
    padding: 80px 30px;
    background-color: blueviolet;
    margin: 60px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border-radius: 16px;
}
.btn-white{
    background-color: #fff;
    color: blueviolet;
    padding: 14px 30px;
    border-radius: 40px;
    font-size: 16px;
    border: none;
}

.login-container{
    
    width: 400px;
    margin: 50px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input{
 width: 100%;
 margin-bottom: 12px; 
 padding: 16px;  
 font-size: 16px;
 border: 1px solid lightgray;
 box-sizing: border-box;
 border-radius: 12px;
}