/* box model */
/* 1000, LOpgin page, food item alot more */


/* class name always starts with a dot */
.title{
    color: red;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-center{
    text-align: center;
}

/* box model
    border => thickness, style(solid, dotted, dashed), color
    padding
    margin
*/

.card{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(227, 227, 227);
    width: 400px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 14px;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}
.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.btn{
    background-color: black;
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 30px;

}
.input{
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    border: 1px solid lightgray;
    border-radius: 12px;
    box-sizing: border-box;
}