/* day 5 => anything on your own */
/* day 1 => css box model  */

/* css => internal inline and external */

/* selector */
/* class name always starts with a dot */
.title{
    color: blueviolet;
    font-size: 42px;
    text-decoration: underline;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-center{
    text-align: center;
}
/* box model
    border =? thickness, style(solid, dotted, dashed), color
    padding
    margin
*/
.box{
    border: 1px solid lightgray;
    width: 460px;
    padding: 10px;
    margin: 10px;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}

.card{
    width: 270px;
    border: 1px solid lightgray;
    /* padding: 10px; */
    margin: 50px auto;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card-img{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.card-body{
    padding: 10px;
}

.bg{
    text-align: center;
    background-color: blueviolet;
    color: white;
    width: 670px;
    margin: 60px auto;
    border-radius: 18px;
    padding:130px 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    background-color: #000000;
    color: white;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 40px;
}
.profile{
    text-align: center;
    border-radius: 12px;
    width: 350px;
    margin: 50px auto;
    border: 1px solid lightgray;
    padding: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.login{
    padding: 12px;
    width: 400px;
    margin: 60px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 3px solid red; */
}
.input{
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 12px;
    font-size: 16px;
}
.small{
    font-size: 14px;
    color: gray;
}