/* 
images -> feed
user images
icons => like, save, share
*/

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav{
    padding: 10px 0;
    width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-color: #fff;
}
.header{
    border-bottom: 1px solid #eee;
    position: sticky;
    top:0;
}
.card{
    width: 500px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 16px;
    margin: 0 auto 20px auto;
}
.card-img{
    width: 100%;
    border-radius: 16px;
}
.icons{
    transition: .2s;
    display: flex;
    justify-content: space-between;
}
.user{
    display: flex;
    margin-bottom: 20px;
    gap:14px;
    align-items: center;
}
.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}
.name{
    margin: 0;
}
.username{
    margin: 0;
    font-size: 13px;
    color: gray;
}
.hashtags{
    color: rgb(0, 128, 255);
}
.container{
    display: flex;
    width: 900px;
    margin: 60px auto;
    gap:40px;
}
.logo{
    height: 50px;
}
.links{
    display: flex;
    gap:14px;
    align-items: center;
}
.links a{
    text-decoration:none;
    color: black;
}
.btn{
    background-color: black;
    border-radius: 40px;
    font-size: 16px;
    padding: 14px 26px;
    border: none;
    color: white !important;
}
.app{
    display: flex;
    gap:10px
}
.app-img{
    height: 40px;
}
.icons svg:hover{
    color: red;
    cursor: pointer;
    transform: rotate(4deg);
}

