body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 266px;
    margin: 10px auto;
    border: 1px solid lightgray;
    border-radius: 24px;
    padding: 10px;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

/* positions
    1. fixed
    2. sticky
    3. absolute
    4. relative
*/
.help-btn{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border-radius: 44px;
    border: none;
    font-size: 16px;
    position: fixed;
    bottom: 60px;
    right:60px;
}
.banner{
    background-color: #fff;
    position: sticky;
    top: 10px;
}

/* top, left, bottom, right => 
    the distance from that direction
*/

.red{
    width: 100px;
    height: 100px;
    background-color: red;
}
.black{
    position: absolute;
   
    width: 80px;
    height: 80px;
    background-color: rgb(0, 0, 0);
}
.blue{
    width: 100px;
    height: 100px;
    background-color: rgb(13, 73, 236);
}

.bg{
    position: relative;
    width: 670px;
    margin: 90px auto;
}
.bg-img{
    width: 100%;
    border-radius:32px;

}
.content{
    position: absolute;
    bottom: 100px;
    padding: 0 70px;
}
.btn{
    background-color: #fff;
    padding: 16px 30px;
    border-radius: 80px;
    font-size: 16px;
    border: none;
}