/* 
    box model
    flexbox
    positions
    media queries and animations
*/

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 990px) {
  .container {
    width: 990px;
    margin: 60px auto;
    display: flex;
    gap: 40px;
  }
  .feed {
    width: 560px;
    margin: 0;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid lightgray;
    margin-bottom: 20px;
  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
  }
  .profile {
    display: flex;
    margin-bottom: 16px;
    gap: 8px;
    align-items: center;
  }
  .user {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .bi {
    font-size: 24px;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
  }
  .sidebar-title {
    margin-top: 0;
  }
  .links {
    display: flex;
    gap: 8px;
  }
  .link {
    height: 42px;
  }
  .story-container {
    display: flex;
    gap: 16px;
    width: 990px;
    margin: 60px auto;
  }
  .story-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
  }
  .story {
    font-size: 14px;
    text-align: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 990px;
    margin: 10px auto;
  }
  .logo {
    height: 36px;
  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 12px 18px;
    font-size: 16px;
  }
}

/* small screens */

@media (max-width: 989px) {
  .container {
   
    margin: 60px auto;
    
  }
  .feed {
    
    margin: 0;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid rgb(233, 233, 233);
    margin-bottom: 20px;
  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
  }
  .profile {
    display: flex;
    margin-bottom: 16px;
    gap: 8px;
    align-items: center;
  }
  .user {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  .bi {
    font-size: 24px;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
  }
  .sidebar{
    text-align: center;
  }
  .sidebar-title {
    margin-top: 0;
    font-size: 20px;
  }
  .links {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  .link {
    height: 42px;
  }
  .story-container {
    display: flex;
    gap: 16px;
    width: 100%;
    margin: 60px auto;
    overflow-x:scroll ;
  }
  .story-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
  .story {
    font-size: 14px;
    text-align: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
  }
  .logo {
    height: 36px;
  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 80px;
    padding: 10px 16px;
    font-size: 16px;
  }
}
