body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 244px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 26px;
}
.card-img{
    width: 100%;
    border-radius: 16px;
}
.parent{
    display: flex;
    gap: 16px;
    justify-content:center;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* align-items: is used to move the flex elements in vertical direction  */
/* justify-content: is used to move the flex elements in horizontal direction  */