body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 990px) {
  .container {
    width: 990px;
    margin: 60px auto;
    display: flex;
    gap: 40px;
  }
  .feed {
    width: 560px;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
    margin-bottom: 24px;
  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
  }
  .profile {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
  }
  .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .username {
    color: gray;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
  }
  .story-container {
    display: flex;
    width: 990px;
    margin: 60px auto;
    gap: 16px;
  }
  .story {
    text-align: center;
  }
  .story-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
  }
  .name {
    font-size: 14px;
  }
  .logo {
    color: rgb(57, 57, 57);
  }
  .navbar {
    width: 990px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 12px 22px;
    font-size: 16px;
  }
  .sidebar-title {
    margin-top: 0;
  }
  .links {
    display: flex;
    gap: 6px;
  }
  .link {
    height: 42px;
  }
}

/* small screen */

@media (max-width: 989px) {
  .container {
   
    margin: 60px auto;
    
   
  }
  .feed {
   
    border: 1px solid rgb(222, 222, 222);
    border-radius: 14px;
    padding: 10px;
    margin: 16px 8px;
  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
  }
  .profile {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 16px;
  }
  .user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .username {
    color: gray;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
  }
  .story-container {
    display: flex;
    width: 100%;
    margin: 60px auto;
    overflow-x: scroll;
    gap: 16px;
  }
  .story {
    text-align: center;
  }
  .story-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
  }
  .name {
    font-size: 14px;
  }
  .logo {
    color: rgb(57, 57, 57);
  }
  .navbar {
   
    margin: 10px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 80px;
    padding: 10px 16px;
    font-size: 15px;
  }
  .sidebar{
    margin: 8px;
    text-align: center;
  }
  .sidebar-title {
    margin-top: 0;
  }
  .links {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  .link {
   height: 42px;
  }
}
