/* 
1. videos are on
2. not write the code
3. not be able to see others chat
4. discussion session
*/

/* h1{} => selector */
/* .abc => class names always starts with a dot */
.abc{
    color: red;
}
.center{
    text-align: center;
}
/* div => to apply css to all inner elements in one shot */
/* box model
    border => thickness, style, color
    padding => space inside the border
    margin => space outside the border
*/

.box{
    border: 1px solid lightgray;
    width: 300px;
    padding: 10px;
    margin: 60px auto;
    border-radius: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
.login{
    text-align: center;
    width: 340px;
    margin: 220px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    width: 100%;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid gray;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.btn{
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 16px;
    border-radius: 0;
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* box-sizing: border-box ensures that the content does not go out ofthe parent 
element if its going out because of padding. */

.logo{
    height: 42px;
}