body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media (min-width: 990px) {
  .container {
    width: 990px;
    margin: 60px auto;
    display: flex;
    gap: 40px;
    transition: .5s;
  }
  .feed {
    width: 560px;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 24px;
    transition: .5s;
  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
    transition: .5s;
  }
  .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }
  .user {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  /* bi => bootstrap-icon */
  .bi {
    font-size: 24px;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
  }
  .sidebar-heading {
    margin-top: 0;
  }
  .links {
    display: flex;
    gap: 8px;
  }
  .link {
    height: 42px;
  }
  .story-container {
    width: 990px;
    display: flex;
    margin: 60px auto;
    gap: 16px;
    transition: .5s;
  }
  .story {
    text-align: center;
    transition: .5s;
  }
  .story-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    transition: .5s;
  }
  .navbar {
    width: 990px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
  }

  .logo {
    height: 32px;
    transition: .5s;
  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: .5s;
  }
}

@media (max-width: 989px) {
  .container {
    transition: .5s;
    margin: 60px auto;
  }
  .feed {
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    border-radius: 16px;
    margin-bottom: 16px;
    transition: .5s;

  }
  .feed-img {
    width: 100%;
    border-radius: 14px;
    transition: .5s;

  }
  .profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
  }
  .user {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  /* bi => bootstrap-icon */
  .bi {
    font-size: 24px;
  }
  .reactions {
    display: flex;
    justify-content: space-between;
  }
  .reactions-left {
    display: flex;
    gap: 16px;
  }
  .sidebar{
    text-align: center;
  }
  .sidebar-heading {
    margin-top: 0;
    font-size: 22px;
    transition: .5s;

  }
  .links {
    display: flex;
    gap: 8px;
    justify-content: center;
  }
  .link {
    height: 42px;
  }
  .story-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    margin: 60px auto;
    gap: 16px;
  }
  .story {
    text-align: center;
    font-size: 14px;
    transition: .5s;
  }
  .story-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    transition: .5s;

  }
  .navbar {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;

  }

  .logo {
    height: 30px;
    transition: .5s;

  }
  .btn {
    background-color: #fff;
    border: 1px solid lightgray;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 80px;
    transition: .5s;

  }
}
