/* 
    1.  make sure your video is on
    2.  do not write the code with mwe
    3. you will not be able to others chat
*/

/* h1{} => selector */
/* classes always starts with a dot */
.abc{
    color: red;
}
.center{
    text-align: center;
}


/* div => div is used to apply the css to all inner elemwnts in one shot */
/* box model 
    1. border => thickness, style, color
    2. padding => space inside the border
    3. margin => space outside the border
*/


.box{
    border: 1px solid lightgray;
    width: 300px;
    padding: 10px;
    margin: 60px auto;
    border-radius: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-img{
    width: 100%;
    border-radius: 14px;
}
/* 
    either in padding or in margin
    the first value refers top and bottom
    second value refers left and right
*/


.login{
    text-align: center;
    width: 340px;
    margin: 160px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    width: 100%;
    margin-bottom:10px ;
    padding: 12px;
    font-size: 16px;
    border: 1px solid gray;
    border-radius: 0;
    box-sizing: border-box;
}

.btn{
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid black;
}
/* box-sizing: border-box is used to ensure that the content does not go out of the
parent element if its going out because of padding. */
.logo{
    height: 48px;
}