/* positions
dafault => static

fixed
sticky
absolute
relative
*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
    border: 1px solid lightgray;
    border-radius: 16px;
    padding: 10px;
    margin: 10px auto;
    width: 270px;
}
.card-img{
    width: 100%;
    border-radius: 16px;
}
.ad{
    position: sticky;
    bottom: 0;
    border: 1px solid orangered;
    background-color: orangered;
    color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 10px auto;
    width: 270px;
}
.ad h3{
    margin-bottom: 0;
}
.ad p{
    font-size: 14px;
    margin: 0;
}
.help-btn{
    background-color: black;
    color: white;
    padding: 15px 30px;
    border-radius: 40px;
    border: none;
    font-size: 16px;
    position: fixed;
    bottom: 100px;
    right: 50px;
    /* width: 100%; */
}

/* top, left, right, bottom => distance from that direction */


/* absolute */

.green{
    height: 250px;
    width: 250px;
    background-color: green;
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    right: 0;
    bottom: 0;
}
.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
}

.demo{
    height: 800px;
    width: 800px;
    background-color: teal;
}


/* .parent{
    width: 700px;
    height: 500px;
    background-color: blueviolet;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
}
.child{
    background-color: red;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 0;
} */

.bg{
    width: 700px;
    height: 500px;
    border-radius: 20px;
    margin: 50px auto;
    position: relative;
}
.bg-img{
    width: 100%;
}
.bg-content{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 100px;
    left: 40px
}
.btn-light{
    background-color: #fff;
    border: none;
    padding: 16px 30px;
    border-radius: 40px;
    font-size: 16px;
}

.card-header{
    position: relative;
}
.best-seller{
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 244, 214);
    color: rgb(75, 55, 0);;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    margin: 10px;
}

.must-try{
    position: absolute;
    top: 0;
    background-color: rgb(225, 255, 225);
    color: rgb(2, 75, 0);;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    margin: 10px;
}
.profile{
    width: 560px;
    margin: 20px auto;
    position: relative;
}
.profile-bg{
    width: 100%;
    border-radius: 14px;
}
.user{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 30px;
    border: 2px solid white;
    margin-bottom: -48px;
}