/* box model */
/* flexbox */
/* positions */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    width: 270px;
    border: 1px solid #e6e6e6;
    border-radius: 24px;
    padding: 10px;
    margin: 10px auto;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

/* 
    1. fixed
    2. sticky
    3. absolute
    4. relative
*/
.help-btn{
    background-color: black;
    border: none;
    padding: 16px 30px;
    border-radius: 80px;
    font-size: 16px;
    color: white;
    position: fixed;
    bottom:60px;
    right:60px;
}
.banner{
    background-color: #fff;
    padding: 16px 10px;
    position: sticky;
    top: 10px;
}
/* top, bottom, left, right => distance from that direction */

.red{
    width: 100px;
    height: 100px;
    background-color: red;
}

.black{
    width: 70px;
    height: 70px;
    background-color:black;
    position: absolute;
    top: 0;
    right: 0;
}


.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
}


.bg{
    width: 620px;
    margin:80px auto;
    position: relative;
}
.bg-img{
    width: 100%;
    border-radius: 24px;
}
.content{
    position: absolute;
    bottom: 100px;
    left: 0;
    padding: 0 60px;
    color: white;
}
.btn{
    background-color: #fff;
    padding: 16px 30px;
    border-radius: 60px;
    font-size: 16px;
    border: none;
}


.profile{
    width: 600px;
    margin: 0 auto;
    position: relative;
}
.cover{
    width: 100%;
}
.user{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 60px;
    bottom: -60px;
    border: 4px solid white;
}