/* 
1. videos are on
2. make sure u do not write the code with me
3. no recordings 
4. not be able to see others chat
*/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(min-width:600px){
    .profile{
    display: flex;
    width: 600px;
    margin: 60px auto;
    gap: 40px;
     transition: .5s;
}
.user{
    height: 240px;
    width: 240px;
    object-fit: cover;
    border-radius: 24px;
    transition: .5s;
}
.user:hover{
    border-radius: 50%;
    transform: rotate(6deg);
    height: 180px;
    width: 180px;
    margin-left: 100px;
}
.btn{
    border: 1px solid black;
    background-color: #fff;
    padding: 15px 30px;
    background-color: black;
    font-size: 16px;
    color: white;
    border-radius: 8px;
     transition: .5s;
}
}



@media(max-width:599px){
    .profile{
        text-align: center;
    margin: 60px auto;
     transition: .5s;
}
.user{
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 50%;
     transition: .5s;
}
.btn{
    border: 1px solid black;
    background-color: #fff;
    padding: 15px 30px;
    background-color: black;
    font-size: 16px;
    color: white;
    border-radius: 80px;
     transition: .5s;
}
}




.demo{
    width: 100px;
    height: 100px;
    background-color: orangered;
    margin-top: 100px;
    animation-name:dhoni;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-fill-mode: forwards; */
}
@keyframes dhoni{
    to{
        margin-left: 600px;
        transform: rotate(360deg);
        border-radius: 50%;
        background-color: blueviolet;
    }
}



.loader{
    width: 40px;
    height: 40px;
    margin: 270px auto;
    border: 2px solid #eee;
    border-radius: 50%;
    border-top: 2px solid black;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}