body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* 
media queries
animations
*/

@media (min-width: 600px) {
  .profile {
    width: 600px;
    margin: 60px auto;
    display: flex;
    gap: 24px;
  }
  .user {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 26px;
    transition: .25s;
  }
  .user:hover{
    border-radius: 50%;
    transform: rotate(6deg);
    height: 180px;
    width: 180px;
    margin-left: 100px;

  }
  .btn {
    background-color: black;
    color: white;
    padding: 14px 30px;
    border-radius: 8px;
    border: 2px solid black;
    font-size: 16px;
    transition: .25s;
  }
  .btn:hover{
    background-color: #fff;
    color: black;
  }
}
/* 0-599px */
@media (max-width: 599px) {
  .profile {
    text-align: center;
    margin: 60px auto;
    
  }

  .user {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }
  .btn {
    background-color: rgb(0, 30, 255);
    color: white;
    padding: 16px 30px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
  }
}



.demo{
    height: 100px;
    width: 100px;
    background-color: orangered;
    margin: 100px;
    animation-name: msd;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes msd{
    to{

        border-radius: 50%;
        background-color: blueviolet;
        transform: rotate(360deg);
        margin-left: 600px;
    }  
}


.loader{
    width: 50px;
    height: 50px;
    border: 2px solid lightgray;
    border-top: 2px solid black;
    margin: 240px auto;
    border-radius: 50%;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes loader{
    to{
        transform: rotate(360deg);
    }
}