body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media(min-width:600px){
    .profile{
    width: 600px;
    margin: 60px auto;
    display: flex;
    gap: 40px;
    align-items: center;
}
.user{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 24px;
    transition: .5s;
}
.user:hover{
    border-radius: 50%;
    height: 230px;
    width: 230px;
    transform: rotate(6deg);
    margin-left: 100px;
}
.btn{
    background-color: black;
    color: white;
    padding: 16px 30px;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    transition: .5s;
}
}


@media(max-width:599px){
    .profile{
   text-align: center;
    margin: 60px auto;
}
.user{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
    transition: .5s;
}
.btn{
    background-color: red;
    color: white;
    padding: 16px 30px;
    border: none;
    font-size: 16px;
    border-radius: 80px;
    transition: .5s;
}
}


.demo{
    width: 100px;
    height: 100px;
    background-color: orangered;
    margin-top: 100px;
    animation-name: msd;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes msd{
    to{
        margin-left: 700px;
        transform: rotate(360deg);
    }
}



.loader{
    width: 40px;
    height: 40px;
    border:2px solid rgb(228, 228, 228);
    margin: 250px auto;
    border-top: 2px solid black;
    border-radius: 50%;
    animation-name: spinner;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes spinner{
    to{
        transform: rotate(360deg);
    }
}