body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.card{
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 10px;
    width: 266px;
    margin: 10px auto;
}
.card-img{
    width: 100%;
    border-radius: 14px;
}

.flex{
    display: flex;
    gap: 16px;
    justify-content: center;
}


/* positions
    1. fixed
    2. sticky
    3. absolute
    4. relative
*/

.help-btn{
    background-color: black;
    color: white;
    padding: 16px 30px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    position: fixed;
    bottom: 60px;
    right: 60px;
}


/* top, left, right and bottom => 
the distance from that direction
*/


.banner{
    background-color: #fff;
    position: sticky;
    top: 0;
}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
}
.black{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
}


.green{
    width: 90px;
    height: 90px;
    background-color: rgb(21, 184, 0);
}


.bg{
    width: 640px;
    margin: 80px auto;
    position: relative;
}
.bg-img{
    width: 100%;
    border-radius: 32px;
}
.content{
    position:absolute;
    bottom: 100px;
    padding: 0 60px;
    color: white;
}
.btn{
    background-color: #fff;
    border: none;
    font-size: 16px;
    padding:16px 30px;
    border-radius: 80px;
}


/* position relative ensures that the absolute can move within the parent element  */



.profile{
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.cover{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.user{
    height: 120px;
    width: 120px;
    position: absolute;
    left: 60px;
    bottom: -60px;
    border-radius: 50%;
    border: 4px solid white;
    
}