body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* big screens */
@media(min-width: 586px){
    .profile-card{
        width: 500px;
        margin: 50px auto;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .user-img{
        width: 140px;
        height: 140px;
        border-radius: 12px;
    
    }
    .intro{
        margin: 0;
    }
    .btn{
        background-color: black;
        border: none;
        border-radius: 12px;
        padding: 14px 32px;
        color: white;
    }
}

/* mobile screen */
@media(max-width: 586px){
    .profile-card{
        text-align: center;
        margin: 20px auto;
    }
    .user-img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    
    }
    .intro{
        margin: 0;
    }
    .btn{
        background-color: black;
        border: none;
        border-radius: 40px;
        padding: 14px 32px;
        color: white;
    }
}
/* brekpoints
    small 586px
    tablets 786px
    laptops 992px 
    big screens 1200px and above
*/
@media(min-width: 786px){
    .container{
        display: flex;
        justify-content: center;
        gap:20px;
    }
    .card{
        width: 260px;
        border: 1px solid lightgray;
        border-radius: 14px;
        padding: 10px;
        transition: .3s;
    
    }
    .card img{
        width: 100%;
        border-radius: 14px;
    }
}

@media(max-width: 786px){
    .container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:20px;
    }
    .card{
        width: 270px;
        border-radius: 14px;
    
    }
    .card img{
        width: 100%;
        border-radius: 14px;
    }
}

.card:hover{
    transform: rotate(3deg);
    width: 290px;
    border:1px solid white;
    box-shadow: 4px 8px 16px 6px #eee;
}

/* animations */


.demo{
    height: 100px;
    width: 100px;
    border-radius: 12px;
    background-color: orangered;
    animation-name: virat;
    animation-duration: 1s;
    /* animation-fill-mode: forwards; */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes virat {
    20%{
        background-color: tomato;
    }
    40%{
        background-color: blueviolet;

    }
    60%{
        background-color: teal;

    }
    80%{
        background-color: green;

    }
    100%{
        margin-left: 600px;
        background-color: hotpink;
        transform: rotate(360deg);
    }
}