body{
    margin:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 600px;
    margin: 40px auto;
}
.img{
    width: 100%;
}
/* positions
static -> default
fixed
sticky
relative
absolute
*/

.newsletter{
    background-color: black;
    padding: 16px 30px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    color: white;
    position: fixed;
    bottom:0;
    right: 0;
    margin: 40px;
}

.title{
    background-color: white;
    padding: 10px 0;
    position: sticky;
    top:0;
}
.subtitle{
    background-color: white;
    padding: 10px 0;
    position: sticky;
    bottom:0;
}


.relative{
    background-color: blueviolet;
    border-radius: 20px;
    padding: 20px;
    height: 360px;
    width: 600px;
    margin: 60px auto;
    position: relative;
}

.absolute{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fff;
    
    bottom: 0;
    margin: 20px;
}

.card{
    width: 260px;
    margin: 50px auto;
    border-radius: 14px;
    border: 1px solid lightgray;
}
.card-img{
    width: 100%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.card-body{
    padding: 10px;
}
.card-body p{
    font-size: 14px;
}
.card-header{
    position: relative;
}
.b-tag{
    background-color: #fff3d2;
    color: rgb(131, 78, 0);
    font-size: 13px;
    padding: 3px 12px;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    margin: 10px;
}
.m-tag{
    background-color: #d2ffd4;
    color: rgb(0, 72, 0);
    font-size: 13px;
    padding: 3px 12px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    margin: 10px;
}

.hero{
    background-image: url('/bg2.avif');
    height: 400px;
    width: 700px;
    margin: 50px auto;
    background-size: cover;
    border-radius: 20px;
}
.hero-content{
    color: white;
    width: 400px;
    margin: 0 auto;
    padding-top: 140px;
}
.btn{
    background-color: #fff;
    padding: 16px 30px;
    border-radius: 10px;
    border:none;
    color: black;
}