body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
    border: 1px solid lightgray;
    padding: 10px;
    margin: 20px auto;
    border-radius: 16px;
    width: 270px;
    /* position: static; */
}
.card-img{
    width: 100%;
    border-radius: 16px;
}

/* positions
static => static is a default position
fixed => 
sticky => 
relative => 
absolute => by default body is relative to iut we can also make parenent relative
*/

/* 
bottom, top, left, right => distance from that direaction
*/

.help-btn{
    background-color: black;
    padding: 14px 30px;
    border-radius: 40px;
    border:none;
    color: white;
    font-size: 16px;
    position: fixed;
    bottom: 50px;
    right: 50px
}

.nav{
    height: 80px;
    background-color: black;
    position: sticky;
    top:0;
}
.promotion{
    border: 1px solid rgb(255, 232, 205);
    background-color: rgb(255, 232, 205);
    padding: 10px;
    margin: 20px auto;
    border-radius: 16px;
    width: 270px;
    position: sticky;
    bottom:0;
}
.small{
    font-size: 14px;
}

.parent{
    background-color: blueviolet;
    width: 800px;
    border-radius: 20px;
    margin: 60px auto;
    height: 480px;
    position: relative;
}

.child{
    position: absolute;
    bottom: 0;
    right:0;
    width: 100px;
    height: 100px;
    background-color: orangered;
}


.hero{
    width: 700px;
    height: 460px;
    margin: 50px auto;
    position: relative;
}
.hero-img{
    width: 100%;
}
.hero-content{
    text-align: center;
    color: white;
    position: absolute;
    bottom: 120px;
    left: 40px
}
.btn{
    border:none;
    background-color: #fff;
    padding: 16px 32px;
    border-radius: 40px;
    font-size: 16px;
}

.card-header{
    position: relative
}
.best-seller{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 237, 211);
    color: rgb(94, 55, 0);
    font-size: 14px;
    padding: 2px 10px;
    margin: 10px;
    border-radius: 20px;
}
.must-try{
    background-color: rgb(215, 255, 215);
    color: rgb(0, 58, 0);
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    padding: 2px 10px;
    margin: 10px;
    border-radius: 20px;

}
.profile{
    width: 560px;
    margin: 50px auto;
}

.profile-header{
    position: relative;
}
.bg{
    width: 100%;
}
.user{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left:30px;
    margin-bottom: -30px;
    border: 2px solid white;
}